@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.showcase-slider-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @include sm {
        padding: 0 18vw;
    }

    .project-square-card {
        background: #0f0524;
        border: 1.5px solid rgba(130, 69, 236, 0.4);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        aspect-ratio: 1 / 1; 
        overflow: hidden;
        position: relative;

        @include sm {
            max-height: 38vh;
        }

        .project-thumbnail-container {
            height: 60%; 
            position: relative;
            img { 
                width: 100%; 
                height: 100%; 
                object-fit: cover;
            }
            
            .thumbnail-overlay {
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1; 
            }
        }

        .project-info {
            padding: 10px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #120731;

            .project-title {
                color: $white;
                font-size: 1.1rem;
                @include sm { font-size: 0.8rem; }
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .project-tags {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin-top: 5px;
                .tag-item { 
                    color: $purple;
                    font-size: 0.7rem; 
                    @include sm { font-size: 0.55rem; }
                }
            }
        }
    }
}

.swiper-pagination {
    bottom: -5px !important;
}