$white: #fff;
$gray: #989898;
$black: #000;
$black-light: #131313;
$black-lighter: #232323;
$yellow: #ffdb44;
$primary-color: #007bff;
$border-color: #ddd;
$font-color: #333;
$background-color: #f8f9fa;
$base-font-family: "DM Sans", sans-serif;
$purple: #8245ec;
$text-light: #d1d1d1;