$white: #fff;
$gray: #989898;
$black: #000;
$black-light: #131313;
$black-lighter: #232323;
$yellow: #ffdb44;
$primary-color: #007bff;  // Change as needed
$border-color: #ddd;      // Change as needed
$font-color: #333;
$background-color: #f8f9fa;

$base-font-family: "DM Sans", sans-serif;
