@import "../../style-config/variable.scss";
@import "../../style-config/mixins.scss";

#portfolio {
    padding: 80px 0; 
    background-color: #080118;
    position: relative;
    overflow: visible;

    @include sm {
        padding: 20px 0 40px;
    }

    .portfolio-header {
        text-align: center;
        margin-bottom: 25px;

        @include sm {
            margin-bottom: 10px; 
            
            h2 { 
                font-size: 1.5rem; 
                margin: 5px 0;
            }
            .portfolio-subtitle {
                font-size: 0.75rem;
                max-width: 90%;
                margin: 0 auto;
            }
        }
    }
}