@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.filters-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
    flex-wrap: wrap;

    .filter-btn {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 8px 22px;
        border-radius: 50px;
        color: $white;
        cursor: pointer;
        font-weight: 500;
        transition: 0.3s;

        &:hover, &.active {
            background: $purple;
            border-color: $purple;
            box-shadow: 0 0 15px rgba(130, 69, 236, 0.4);
            transform: translateY(-2px);
        }
    }
}