@import "../../style-config/variable.scss";
@import "../../style-config/mixins.scss";

.Intro-section {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #080118; 
    background-image: 
        radial-gradient(at 0% 0%, rgba(187, 102, 255, 0.2) 0px, transparent 50%),
        radial-gradient(at 100% 0%, rgba(130, 69, 236, 0.15) 0px, transparent 50%),
        radial-gradient(at 100% 100%, rgba(187, 102, 255, 0.1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgba(130, 69, 236, 0.15) 0px, transparent 50%);

    .vector-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../images/vector-background.png");
        background-size: cover;
        background-position: center;
        z-index: 0;
        opacity: 0.15; 
        filter: hue-rotate(250deg) brightness(0.8); 
    }

    .cloud-soft {
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 100%;
        z-index: 1;
        opacity: 0.4;
        mix-blend-mode: screen;
        filter: hue-rotate(260deg) saturate(1.5); 
    }

    .content {
        width: 100%;
        max-width: 1200px;
        padding: 0 40px;
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;

        @include md {
            padding: 0 20px;
        }
    }

    .purple-glow-orb {
        position: absolute;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(187, 102, 255, 0.15) 0%, transparent 70%);
        filter: blur(80px);
        z-index: 1;
        pointer-events: none;

        &.top-left { top: -150px; left: -150px; }
        &.bottom-right { bottom: -150px; right: -150px; }
    }
}